html {
    height: 100%;
    width: 100%;
}
body {
    background-color: rgb(215, 250, 255);
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: rgb(24, 89, 146);
}