html {
    height: 100%;
    width: 100%;
}
body {
    background-color: rgb(184, 222, 228);
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: rgb(15, 104, 182);
}
h2 {
    color: rgb(2, 71, 131)
}
h3 {
    color:rgb(2, 40, 73)
}
a{
    color: blue;
}
a:hover {
    color: blueviolet;
}